* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/home-background-top-content.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.content-container {
    height: 100vh;
    overflow: hidden;
    overflow-y: hidden;
}